<mat-toolbar color="primary" class="header">

    <div class="left">

        <mat-icon>analytics</mat-icon>

        <span class="title">
            Employee Activity Dashboard
        </span>

    </div>

    <div class="right">

        <span class="user">

            Welcome {{userName}}

        </span>

        <button mat-raised-button color="accent">

            <mat-icon>sync</mat-icon>

            Sync

        </button>

        <button mat-raised-button>

            <mat-icon>logout</mat-icon>

            Logout

        </button>

    </div>

</mat-toolbar>