<div class="cards">

    <mat-card class="card blue">
        <mat-icon>groups</mat-icon>
        <h2>{{totalEmployees}}</h2>
        <span>Employees</span>
    </mat-card>

    <mat-card class="card green">
        <mat-icon>check_circle</mat-icon>
        <h2>{{activeToday}}</h2>
        <span>Active Today</span>
    </mat-card>

    <mat-card class="card orange">
        <mat-icon>apps</mat-icon>
        <h2>{{totalApps}}</h2>
        <span>Applications</span>
    </mat-card>

    <mat-card class="card purple">
        <mat-icon>computer</mat-icon>
        <h2>{{totalDevices}}</h2>
        <span>Devices</span>
    </mat-card>

    <mat-card class="card red">
        <mat-icon>location_city</mat-icon>
        <h2>{{totalCities}}</h2>
        <span>Cities</span>
    </mat-card>

</div>