<app-header></app-header>

<!-- Loader -->

<div class="loader-container" *ngIf="loading">

    <mat-spinner diameter="70"></mat-spinner>

    <h3>Loading Employee Activities...</h3>

    <p>Please wait while Microsoft Graph data is being fetched.</p>

</div>

<!-- Dashboard -->

<div *ngIf="!loading">

    <app-dashboard-cards
        [employees]="employees"
        (applicationSelected)="onApplicationSelected($event)">
    </app-dashboard-cards>

    <app-employee-table
        [employees]="employees"
        [selectedApplication]="selectedApplication">
    </app-employee-table>

</div>